html {
	background-color: #fce67c;
}

.App {
	text-align: center;
	width: 100%;
}

.pedal {
	max-height: 80vh;
	min-height: 400px;
	margin: 20px auto;
}
.tune-scale {
	position: relative;
	border: 1px solid red;
	padding: 25px;
	width: 600px;
}

.tune-scale__needle {
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
	width: 2px;
	margin-left: -1px;
	background-color: red;
}
